{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/accounts/myrest1.css">
{% endblock %}

{% block content %}
<!-- <h1>Minhas Folgas</h1> -->
<div class="notificacao">
    <p id='informativo'>**Número com base nas suas solicitações**  </p>
    {% if notificacao %}
        <span class="notificacao">{{notificacao}}</span>
    {% endif %}
</div>
    <div class="dados-folgas">

        <div class="item-dados" id='dados-pendente'>
            <h2>Folgas Pendentes</h2>
            {% if pendentes > 0 %}
                <h1 id="numero">{{pendentes}}</h1>
            {% else %}
                <h1 id="numero">0</h1>
            {% endif %}
        </div>

        <div class="item-dados" id='dados-aprovado'>
            <h2>Folgas Aprovadas</h2>
            {% if aprovadas > 0 %}
                <h1 id="numero">{{aprovadas}}</h1>
            {% else %}
                <h1 id="numero">0</h1>
            {% endif %}
        </div>

        <div class="item-dados" id='dados-recusado'>
            <h2>Folgas Recusadas</h2>
            {% if recusadas > 0 %}
                <h1 id="numero">{{recusadas}}</h1>
            {% else %}
                <h1 id="numero">0</h1>
            {% endif %}
        </div>
    </div>

    <div>
        <h2 id="saldo-folgas">Saldo de Folgas: {{user.saldo}}</h2>
    </div>
    
    {% if user.saldo > 0 %}
        <div class="button-folga">
            <button class="btn open" id="btn_solicitar_folga" >+ Incluir Solicitação</button>
        </div>   
    {% endif %}

    <dialog class="modal">
        <h2>Solicitação de Folga</h2>
        <form class='nova_folga' method="POST">
            <table>
                {% csrf_token %}
                
                {{forms.as_table}}
            </table>
            <input id='enviar_form' type="submit" value="Solicitar"></button>
        </form>
        <button type="button" class="btn close">X</button>
    </dialog>


    <div class="painel-folgas">



        {% if folgas %}
            <div id="linha-titulos">

                <div class="item" id='box'>Data da Folga:</div>
                <div class="item" id='box'>Motivo:</div>
                <div class="item" id='box'>Criação:</div>
                <div class="item" id='box'>Aprovação:</div>
                <div class="item" id='box'>Status:</div>
            </div>
            {% if folgas %}
                {% for folga in folgas %}
                    <div id="linha-folga">

                        <div class="item" id='box-folga'>{{folga.day}}</div>
                        <div class="item" id='box-folga'>{{folga.motivo}}</div>
                        <div class="item" id='box-folga'>{{folga.date_created}}</div>
                        {% if folga.date_updated != None %}
                            <div class="item" id='box-folga'>{{folga.date_updated}}</div>
                        {% else %}
                            <div class="item" id='box-folga'>-</div>
                        {% endif %}
                        <div class="item-status" id='box-folga-status'>{{folga.status_folga}}</div>
                    </div>
            
                {% endfor %}
                <span>Últimas 10 solicitações</span>
            {% endif %}


        {% else %}

            <h1 class="texto">{{error_sem_folga}} </h1>
        {% endif%}
        

    </div>

    <script>
        const modal = document.querySelector(".modal");
        const openModalBtn = document.querySelector(".open");
        const closeModalBtn = document.querySelector(".close");
        
        openModalBtn.addEventListener("click", () => modal.showModal());
        
        closeModalBtn.addEventListener("click", () => modal.close());

        
        if (document.getElementById('id_Observação')){
            const comment = document.getElementById('id_Observação');

            comment.removeAttribute("required");
        }


    </script>
    <script type="text/javascript" src="/static/aplication/scripts/rest.js"></script>
    
{% endblock %}