{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet"  href="/static/accounts/profile.css">
    <script type="text/javascript" src="/static/accounts/scripts/profile.js"></script>
    
{% endblock %}

{% block content %}
    <div class="info-form">
        <section class="content">        
            <section class="grid grid-auto-rows-2">
                <div class="photo">
                    {% if user.photo %}
                        <img id="foto" src="/media/{{user.photo}}" alt="" srcset="">
                    {% else %}
                        <img id="foto"src="/media/image/padrao.png">
                    {% endif %}
                </div>
                        
                        
                        
                <div class="item item-grande">
                    <label id="form">Username:</label><br>
                    {{user.username}}<br>
                </div>
                    
                <div class="item">
                    <label id="form">Primeiro nome:</label><br>
                    {{user.first_name}}<br>
                </div>

                <div class="item">
                    <label id="form">Último nome:</label><br>
                    {{user.last_name}}<br>
                </div>

                <div class="item">
                    <label id="form">Data de nasc:</label><br>
                    {{user.birthday}}<br>
                </div>

                <div class="item">
                    <label id="form">Telefone:</label><br>
                    {{user.telephone}}<br>
                </div>
                
                <div class="item item-grande">
                    <label id="form">E-mail:</label><br>
                    {{user.email}}<br>
                </div>

                <div class="item item-grande">
                    <label id="form">User:</label><br>
                    {{user.user}}<br>
                </div>
                
                <div class="item item-grande">
                    <label id="form">Unidade:</label><br>
                    {{user.unit}}<br>
                </div>
                
                <div class="item item-grande">
                    <label id="form">Ramal:</label><br>
                    {{user.ramal}}<br>
                </div>

                {% if user.cargo.position_name == 'Gestor T.I' %}
                    <div class="item item-grande">
                        <label id="form">Path_:</label><br>
                        {{user.path}}<br>
                    </div>
                {% endif %}
            
                {% if user.saldo == 0 %}
                    <div class="item item-grande">
                        <label id="form">Saldo de folgas:</label>
                        <p>0</p>
                    </div>

                {% else %}
                    <div class="item item-grande">
                        <label id="form">Saldo de folgas:</label><br>
                        {{user.saldo}}
                    </div>
                {% endif %}         

                

                <a id="editar" href="{% url 'edit-profile' object.pk  %}">    
                    <button id="editar" type="submit">Editar Dados</button>
                </a>
                <a id="editar" class="open">    
                    <button id="editar" type="submit">Alterar Senha</button>
                </a>

                <dialog class="modal">
                    <form class='alteracao-folga' method="POST">
                        {% csrf_token %}
                        <h2 id='titulo'>Alteração de senha</h2>
                        <Label>Nova senha: </Label><br>
                        <input id=password1 type="password" name="password1" required onblur="AlterarSenha()" ><br>
                        <label>Repita a nova senha: </label><br>
                        <input id=password2 type="password" name="password2" required onblur="AlterarSenha()"
                            onkeypress="AlterarSenha()"><br>

                        <p id='helpSenha'>O botão de Salvar alteração só aparecera quando as senha coincidirem.</p>

                        <button id='salvar'  class="alterarSenha" onclick="ConfirmarAlteracao()">Alterar Senha</button>
                    </form>
                    <button type="button" class="btn close">X</button>
                </dialog>

            </section>
        </section>
    </div>


    <script>
        const modal = document.querySelector(".modal");
        const openModalBtn = document.querySelector(".open");
        const closeModalBtn = document.querySelector(".close");

        openModalBtn.addEventListener("click", () => modal.showModal());

        closeModalBtn.addEventListener("click", () => modal.close());
        document.getElementById('salvar').style.display='none';
    </script>

{% endblock %}