.options-navbar#listprofile{
    background-color: #575a5d;
    color: white;
    font-size: bold;
}


#linha-profile{
    color: black;
    margin-right: 5px;
    min-height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 10px 2px 10px 2px;
    margin: 4px;
    font-size: 13px;
    text-align: center;
    align-items: center ;
    box-shadow: 0 2px 5px 0 #575a5d1f, 0 2px 10px 0 #575a5d73;
}

.photo_profile{
    border-radius: 50px;
    margin-top: 10px;

}


.item{
    word-wrap: break-word;
}
a{
    text-decoration: none;
}

#titulo{
    text-align: center;
}

button#create_user{
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    font-weight: bolder;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;

}
button#create_user:hover{
    cursor: pointer;
    background-color: rgb(2, 110, 2);
}

a#button{
    text-align: center;
}